<html>
	<head>
		<title>Welcome</title>
	</head>
	<body>
		<nav>
      <div>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/test/testget">Test</a></li>
          </ul>
      </div>
    </nav>
    <div>
      <p>
        <div>Test data</div>
        <ul>
          <% tests.forEach(function(test) { %>
            <p>Name: <%= test.name %></p>
            <p>Description: <%= test.desc %></p>
            <p>Year: <%= test.date %></p>
          <% }); %>
        </ul>
      </p>
    </div>
  </body>
</html>
