<html>
	<head>
		<title>Welcome</title>
	</head>
	<body>
		<nav>
      <div>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/test/testget">Test</a></li>
          </ul>
      </div>
    </nav>
    <div>
      <p>
        <form action="/test/testpst" method="post">
          <div>Enter Test data</div>
            <input type="number" placeholder="ID" name="id" <%=test[i].id; %>
            <input type="text" placeholder="Name" name="name" <%=test[i].name; %>
            <input type="text" placeholder="Code" name="code" <%=test[i].code; %>
            <input type="text" placeholder="Description" name="desc" <%=test[i].desc; %>
            <input type="number" placeholder="Year" name="date" <%=test[i].date; %>
            <button type="submit">Submit</button>
        </form>
      </p>
    </div>
  </body>
</html>
